<link rel="stylesheet" href='/stylesheets/main.css'>
<script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
<script src='javascript/jquery-1.11.0.min.js'></script>
<script src='javascript/MediaStreamRecorder.js'></script>
<script src='javascript/main.js'></script>

<h1>{{gameInfo.away}} at {{gameInfo.home}}</h1>
<h2>{{gameInfo.date}}</h2>

<div id="waiting">Connecting to chat server...</div>
<div id="second_counter"></div>
<div id="conversation"></div>
<div id="submission">
	<input type="text" placeholder="say something..">
	<button type="button" id="recordBtn">Talk Trash!</button>
	<button type="button" id="stopButton" >Ease up</button>
</div>
<div id="webcam_stream"></div>
<div id="video_container"></div>