<head>
	<link rel="stylesheet" href='/stylesheets/trashtalk.css'>
	<link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
	<script src='https://cdn.firebase.com/js/client/1.0.6/firebase.js'></script>
	<script src='javascript/jquery-1.11.0.min.js'></script>
</head>

<body class="red">
	<h6>Last Play:</h6>
	<h6>{{play}}</h6>
</body>