/* Tab Content - menucool.com */
ul.tabs
{
    padding: 14px 0 8px;
    margin:0;
    font-size: 0;
    list-style-type: none;
    text-align: center; /*set to left, center, or right to align the tabs as desired*/
    background: #3F92D2;
    border-bottom: 5px solid #145688;
}
        
ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right: 2px;/*distance between tabs*/
    /*font: normal 12px Verdana;*/
    font: 20px "Graduate", Helvetica, Arial, sans-serif;
}
        
ul.tabs li a
{
    text-decoration: none;
    position: relative;
    padding: 8px 22px;
    color: #FFF;
    border-radius: 8px 8px 0 0;
    outline:none;
}
  
        
ul.tabs li a:hover
{
    color: #FFF;
}
        
ul.tabs li.selected a
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: #145688;
    border: 5px solid #145688;
    border-bottom: none;
    color: #FFF;
}
        
        
ul.tabs li.selected a:hover, ul.tabs li.selected a:hover
{
    text-decoration: none;
}

div.tabcontents
{
    border: 1px solid #CCC; padding: 30px;
    border-top-color:#AAA;
    background-color:#FFF;
    border-radius: 0 0 2px 2px;
}
