h1 {
  font: 72px "Graduate", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

h4 {
  font: 36px "Graduate", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

h6 {
  font: 16px "Graduate", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

ul {
  font: 48px "Graduate", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
  list-style-type: none;
}

a {
  color: white;
}

body {
  margin: 0;
}

a:visited {
  color: white;
}

.green {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #36D792;
}

.gray {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #404040;
}

.blue {
  background-color: #3F92D2;
}

#title {
  padding-top: 8px;
  padding-bottom: 5px;
  font: 40px "Graduate", Helvetica, Arial, sans-serif;
  color: #FFF;
  text-align: center;
}
.red_glyph {
  color: #B80012;
}

.green_glyph {
  color: #1E9E2D;
}

.video_approve {
  position: absolute;
  width: 620px;
  height: 550px;
  top: 14%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  background-color: #007241;
}

.video_approve video {
  position: absolute;
  width: 580px;
  /*left: 10%;*/
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  opacity: 1.0;
}

#approval_play {
  position: absolute;
  top: 464px;
  width: 264px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

#rightdiv h4 {
  padding: 4px;
}

.video_approve div {
  position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  top: 502px;
  width: 400px;
  text-align: center;
}
.video_approve button {
  margin: 5px;
}

iframe {
  margin: 15px;
}

.buttonsTable {
  width: 240px;
}

.buttonsdiv button {
  float: left;
}

.buttonsdiv div {
  float: left;
}

#second_counter {
  font: 72px "Graduate", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #E60000;
}

#leftdiv {
  width: 64%;
  height: 100%;
  float: left;
  /*background-color: #192C80;*/
  background-color: #36D792;
  overflow-y:hidden;
}

#border {
  width: 1%;
  height: 100%;
  float: left;
  background-color: #00AF64;
}

#rightdiv {
  width: 35%;
  height: 100%;
  float: right;
  /*background-color: #E30E0E;*/
  background-color: #404040;
  overflow-y:hidden;
}

#rightdiv div {
  text-align: center;
}

#webcam_stream {
  width: 100%;
}

#webcam_stream video {
  border: 12px solid #00AF64;
  width: 80%;
}

#webcam div {
  text-align: center;
}

#conversation {
  padding: 10px 10px 80px;
  overflow-y: scroll;
  height: 100%;
  float: none;
  text-align: center;
}

#conversation div {
  width: 240px;
  float: left;
  margin: 10px;
}

#conversation div div {
  margin: 0px;
}

/*#conversation div div div div {
  width: 50px;
  display: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}*/

.video_info {
  font: 24px "Graduate", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

.voting {
  width: 240px;
  text-align: center;
  float: left;
}

#top {
  padding: 10px 10px 80px;
  overflow-y: scroll;
  height: 100%;
}

#top div {
  width: 240px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
#submission {
  height: 25%;
  border-top: 2px solid #dcc;
  background: #fff;
}
#submission input {
  border: none;
  font-size: 15px;
  padding: 15px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
}
#waiting {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #292929;
  color: white;
  text-align: center;
  padding: 50px 0;
}